body {
    background-color: #001233;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}

form {
    margin-bottom: 1rem;

    & input,
    & button {
        line-height: 2rem;
    }

    & button {
        background-color: #0466c8;
        color: white;
        border: 2px solid #0466c8;
        width: 5rem;
        margin-left: 0.5rem;
        display: inline-block;
    }

    & input {
        background-color: #002855;
        color: white;
        border: 1px solid #002855;
        border-bottom: 2px solid #0466c8;
        width: calc( 100% - 6rem );
    }
}

.user-card {
    text-align: center;
    background-color: #002855;
    border: 1px solid #33415c;
    padding-top: 0.5rem;

    & img {
        border: 1px solid white;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
    }

    & a {
        background-color: #0466c8;
        color: white;
        display: block;
        line-height: 2rem;
        text-decoration: none;
    }
}

.main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}